.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* text-align: center; */
}
.advice {
    background-color: rgb(233, 250, 252);
    position: relative;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px;
    background-color:#00ffff;
}